<!DOCTYPE html>
<html>
<head>
<title>AI Car Lease Contract Assistant</title>

<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">

<link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600&display=swap" rel="stylesheet">

</head>

<body class="landing">

<div class="hero">

<h1 class="hero-title">
AI Car Lease Contract Assistant
</h1>

<p class="hero-subtitle">
Understand your Car Lease before you sign.
Upload contracts, Analyze terms, and negotiate smarter with AI.
</p>

<a href="/login">
<button class="hero-btn">Get Started</button>
</a>

</div>

</body>
</html>